<section class="page">
  <div class="page-header">
    <p>Resumen operativo</p>
    <h2>Dashboard principal</h2>
  </div>

  @if (loading()) {
    <div class="state-card">
      <strong>Cargando información...</strong>
      <p>Consultando backend de inventario.</p>
    </div>
  } @else if (errorMessage()) {
    <div class="state-card error">
      <strong>Backend no disponible</strong>
      <p>{{ errorMessage() }}</p>
      <button type="button" (click)="loadSummary()">Reintentar</button>
    </div>
  } @else if (summary(); as data) {
    <div class="cards">
      <article>
        <span>Backend</span>
        <strong>Activo</strong>
        <p>Spring Boot respondió correctamente.</p>
      </article>

      <article>
        <span>Medicamentos</span>
        <strong>{{ data.totalMedicamentosActivos }}</strong>
        <p>Medicamentos activos registrados.</p>
      </article>

      <article>
        <span>Stock disponible</span>
        <strong>{{ data.stockTotalDisponible }}</strong>
        <p>Stock total disponible actual.</p>
      </article>

      <article>
        <span>Lotes activos</span>
        <strong>{{ data.totalLotesActivos }}</strong>
        <p>Lotes activos en almacén.</p>
      </article>

      <article>
        <span>Stock bajo</span>
        <strong>{{ data.lotesStockBajo }}</strong>
        <p>Lotes con alerta de stock bajo.</p>
      </article>

      <article>
        <span>Kardex</span>
        <strong>{{ data.ultimosMovimientos.length }}</strong>
        <p>Últimos movimientos retornados por API.</p>
      </article>
    </div>

    <section class="kardex-panel">
      <div class="panel-header">
        <div>
          <p>Auditoría logística</p>
          <h3>Últimos movimientos Kardex</h3>
        </div>

        <button type="button" (click)="loadSummary()">Actualizar</button>
      </div>

      <div class="table-wrap">
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Medicamento</th>
              <th>Lote</th>
              <th>Movimiento</th>
              <th>Cantidad</th>
              <th>Stock posterior</th>
              <th>Usuario</th>
            </tr>
          </thead>

          <tbody>
            @for (item of data.ultimosMovimientos; track item.id) {
              <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.medicamentoNombre }}</td>
                <td>{{ item.numeroLote }}</td>
                <td>{{ item.tipoMovimiento }}</td>
                <td>{{ item.cantidad }}</td>
                <td>{{ item.stockPosterior }}</td>
                <td>{{ item.usuarioResponsable }}</td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </section>
  }
</section>